<header class="header">
  <div class="header-content">
    <div class="header-top">
      <div class="header-logo">
        <a href="/" rel="home">
          <img class="rotate" src="/images/logo.png"
            alt="<%- theme.header.title %>"></a>
      </div>
      <div class="header-title">
        <a href="/" rel="home">
          <span><%- theme.header.title %></span></a>
      </div>
    </div>
    <nav class="header-nav" aria-label="Navegación principal">
      <ul class="nav">
        <% if (theme.nav) { %>
        <% theme.nav.forEach(function(item, index) { %>
        <li>
          <% if (index > 0) { %><span class="header-nav-separator">|</span><% }
          %>
          <a href="<%= item.url %>"><%= item.title %></a>
        </li>
        <% }) %>
        <% } %>
      </ul>
    </nav>
    <div class="hamburger-wrapper">
      <div class="hamburger" role="button" aria-label="Menú" aria-expanded="false">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</header>
