.post-list
  padding-left: 0px;
  list-style: none;

.archive-item-link
    display inline-block
    text-decoration none
    overflow hidden
    white-space nowrap
    &:hover
      color $global-link-hover-color
      background-color transparent

  .archive-item-date
    float right
    text-align right
    color $font-secondary-color
